# Output directories
_build/
data/*.*
*.nc
*/_build/*

# Solution files

# Cache files
*voto_erddap_data_cache/*

# Jupyter Notebook
seaocn-cb/exercise/.ipynb_checkpoints/*

# Editors
.vscode/
.idea/

# Mac/OSX
.DS_Store

