# Output directories
_build/
data/*.*
*.nc
*/_build/*

# Solution files

# Cache files
*voto_erddap_data_cache/*

# Jupyter Notebook
seaocn-cb/exercise/.ipynb_checkpoints/*

# Editors
.vscode/
.idea/

# Mac/OSX
.DS_Store

# Mac doubled files
*2.md
*2.yml
*2.ipynb
*2.pyc
*2.nc
*2.png
*2.bib
*2.pdf
*2.py
*2.txt
*2.css
